@font-face {
	font-family: "helvetica";
	src: url(/fonts/helvetica.ttf);
}

html {
	--rfs: calc(0.01 * 10vmin);
	--main-color: #000000;
	font-family: "helvetica", sans-serif;
	font-size: 10px;
}

a {
	text-decoration: none;
	color: currentColor;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
