@font-face {
	font-family: "helvetica";
	src: url(/fonts/helvetica.ttf);
}

@font-face {
	font-family: "helvetica";
	src: url(/fonts/Helvetica-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "helvetica neue";
	src: url(/fonts/HelveticaNeue.ttc);
	font-weight: bold;
}

@font-face {
	font-family: "GT Super";
	src: url(/fonts/GT-Super-Display-Bold.ttf);
}

@font-face {
	font-family: "Knockout";
	src: url(/fonts/Knockout.woff2);
}

@font-face {
	font-family: "Sang Bleu";
	src: url(/fonts/SangBleuOGSerif-Light.woff2);
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	height: 100vh;
	touch-action: none;
	content-zooming: none;
}

html {
	--rfs: calc(0.01 * 10vmin);
	--main-color: #000000;
	--second-color: #ffffff;
	--magnetic-margin: 3vw;
	font-family: "Knockout", sans-serif;
	font-size: 10px;
}

html *::selection {
	background: var(--main-color);
	color: var(--second-color);
}

body {
	background-color: #f5f0ed;
	display: flex;
	flex-direction: column;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

body > div {
	background-color: inherit;
	height: 100%;
}

button {
	border: none;
	appearance: none;
	background: 0, 0;
	border-radius: 0;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-family: "Knockout", sans-serif;
}

a {
	text-decoration: none;
	color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin-block-start: 0px;
	margin-block-end: 0px;
	font-weight: normal;
}
/* 
.image {
	transform: scale(1) rotate(-30deg);
	transform-origin: 350% 0;
}

.image.active {
	transform: scale(1.1) translateX(30%) rotate(0);
}

.image.out {
	transform: scale(1) rotate(0);
}

.image.active,
.image.out {
	transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
} */
